<!DOCTYPE html>
<html >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
        <script src="script_1.js"></script>
    <body ng-app="myModule"  >
        <div ng-controller="myController">
            <table>
                <tr>
                    <td>Name</td>
                    <td>Likes</td>
                    <td>Dislikes</td>
                    <td>like/dislike</td>  
                </tr>
                <tr ng-repeat="x in t">
                    <td>{{x.name}}</td>
                    <td>{{x.likes}}</td>
                    <td>{{x.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementlike(x)">
                        <input type="button" value="Dislike" ng-click="incrementdislike(x)">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
